#icon {
    height: 65px;
}

#cardHelp {
    margin-top: 100px;
   
}
div > h4 {
    font-family: 'Segoe UI'; 
    font-size: 2fr;
    
}

div > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

#button {
    size: 25px;
}

#image {
    height: 160px;
    width: 106px;
}
