<html>

<body>

    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">BIENVENUE DANS L'API CHATCHUFFIT!</h3>
                <p>First text</p>
            </div>
        </mdb-carousel-item>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
            </div>
        </mdb-carousel-item>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-carousel-item>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="mb-auto">
                <h2 id="title">
                    COMMENCER DES MAINTENANT!
                </h2>
            </div>
        </div>
    </div>
    <!-- DÉBUT DU CODE -->
    <!-- DÉBUT CONTAINER -->
    <!-- DÉBUT ROW -->

    <div class="container">
        <div class="row">
            <!-- DÉBUT CARD DECK -->

            <div class="card-deck" id="cardHelp">

                <!-- PREMIERE CARD -->
                <!-- CARD IMAGE -->

                <div class="card mb-auto">
                    <div class="view overlay">
                        <img class="card-img" src="https://ak0.picdn.net/shutterstock/videos/429940/thumb/1.jpg" alt="Card image cap">
                    </div>

                    <!-- CARD BODY -->
                    <div class="card-body">
                        <div class="row align-items-start">
                            <div class="col">
                                <h3 class="card-title"><strong>Rechercher un petsitter</strong></h3>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center">
                            <div class="col">
                                <p>Vous permet de rechercher un petsitter proche de chez vous rapidement!</p>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="button" class="btn btn-info btn-rounded" id="button"><a class="row justify-content-center"
                                        routerLink="annonces">Accéder aux annonces</a></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DEUXIEME CARD -->
                <!-- CARD IMAGE -->

                <div class="card mb-auto">
                    <div class="view overlay">
                        <img class="card-img" src="https://www.theghostsinourmachine.com/wp-content/uploads/2014/03/Animal-Law-Cat-1000x434-Noah.jpg"
                            alt="Card image cap">
                    </div>

                    <!-- CARD BODY -->
                    <div class="card-body">
                        <div class="row align-items-start">
                            <div class="col">
                                <h3 class="card-title"><strong>S'informer</strong></h3>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center">
                            <div class="col">
                                <p>Vous permet de vous informer des dernières actualités sur les animaux.</p>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="button" class="btn btn-info btn-rounded" id="button"><a class="row justify-content-center"
                                        routerLink="articles">Accéder aux articles</a></button> </div>
                        </div>
                    </div>
                </div>

                <!-- TROISIEME CARD -->
                <!-- CARD IMAGE -->

                <div class="card mb-auto">
                    <div class="view overlay">
                        <img class="card-img" src="https://images2.alphacoders.com/270/270200.jpg" alt="Card image cap">
                    </div>

                    <!-- CARD BODY -->
                    <div class="card-body">
                        <div class="row align-items-start">
                            <div class="col">
                                <h3 class="card-title"><strong>Créer</strong></h3>
                            </div>
                        </div>
                        <br>
                        <div class="row align-items-center">
                            <div class="col">
                                <p>Vous pouvez créer vos propres annonces afin de proposer vos services.</p>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="button" class="btn btn-info btn-rounded" id="button"><a class="row justify-content-center"
                                        routerLink="annonces">Créer une annonce</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN DU CODE -->
                <!-- FIN CONTAINER -->
                <!-- FIN ROW -->
                <!-- FIN DU CARD DECK-->
            </div>
        </div>
    </div>
</body>

</html>