/* IMAGE SIZE */
#icon {
    height: 65px;
}

#cardHelp {
    margin-top: 100px;
}

/* TEXT PART */

div > h4 {
    font-family: 'Segoe UI'; 
    font-size: 2fr;
    
}

div > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

#title {
    margin-top: 1em;
}

/*BUTTONS */

button > a {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

/* CAROUSEL */

div > h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: bold;
}

li > a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-decoration: underline;
   
}