<html>

<body>

    <div class="container">
        <div class="row">
            <!-- Card group -->

            <div class="card-deck" id="cardHelp">
                <!-- Card -->
                <div class="card mb-4">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img" src="https://www.publicdomainpictures.net/pictures/260000/nahled/magnifying-glass-1527991021IZy.jpg"
                            alt="Card image cap">
                    </div>

                    <!-- Card content -->
                    <div class="card-body" id="cardBody">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Rechercher un petsitter</strong></h4>
                        <br>
                        <!-- Text -->
                        <p>L'API vous permet de rechercher un petsitter proche de chez vous rapidement!</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="button" class="btn btn-primary btn-md">Read more</button>
                            </div>
                        </div>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://images6.alphacoders.com/678/678636.jpg" alt="Card image cap">

                    </div>

                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><strong>S'informer</strong></h4>
                        <br>
                        <!-- Text -->
                        <p>Vous pouvez vous informer des dernières actualités concernant les animaux.</p>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="button" class="btn btn-primary btn-md">Aller aux annonces</button>
                            </div>
                        </div>
                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://c1.staticflickr.com/6/5213/5523800294_80f0687af7_b.jpg"
                            alt="Card image cap">

                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Créer</strong></h4>
                        <br>
                        <!-- Text -->
                        <p>Vous pouvez créer votre annonce pour proposer vos propres services.</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="button" class="btn btn-primary btn-md">Read more</button>
                            </div>
                        </div>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->
            </div>

            <!-- Card group -->

        </div>
    </div>
</body>

</html>