<!--DÉBUT DU CODE -->
<!--DÉBUT DU CONTAINER-->
<!-- DÉBUT DU ROW -->

<div class="container">
  <div class="row justify-content-center">
    <!-- DÉBUT DU CARD DECK-->
    <div class="card-deck" *ngFor="let annonce of annoncesList" id="cardAnnonce">
      <!-- DÉBUT CARD-->
      <div class="card mb-auto">

        <!-- IMAGE CARD-->
        <div class="row justify-content-center">
          <div class="mx-auto">
            <img src="https://images6.alphacoders.com/678/678636.jpg" alt="thumbnail" class="img-thumbnail" style="width: 400px"
              id="image">
          </div>
        </div>
        <!-- FIN IMAGE CARD-->

        <!-- CARD BODY -->
        <div class="card-body">
          <div class="row align-items-start">
            <div class="col">
              <h4 class="card-title" id="title"> Titre : {{annonce.title}}</h4>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <p>Description : {{annonce.description}}</p>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <div class="col">
              <p>Disponibilité : {{annonce.date}}</p>
            </div>
          </div>
          <div class="row align-items-end">
            <div class="col">
              Ville : {{annonce.city}}
            </div>
          </div>
          <!-- FIN DU CARD BODY-->
        </div>
        <!-- FIN DES CARDS -->
        <!-- BUTTON CONTACT-->
        <div class="row justify-content-center">
          <div class="col-2">
            <button type="button" mdbBtn color="info" rounded="true" data-toggle="modal" data-target="#basicExample"
              (click)="frame.show()" mdbWavesEffect>Contacter</button>
          </div>
        </div>
        <!-- FIN DU BUTTON CONTACT-->
      </div>
      <!-- FIN CARD DECK-->
    </div>
    <!-- FIN DU ROW -->
  </div>
  <!-- FIN DU CONTAINER -->
</div>
<!-- FIN DU CODE -->
<!-- DÉBUT DU CONTACTFORM-->