<!--DÉBUT DU CODE -->
<!--DÉBUT DU CONTAINER-->
<!-- DÉBUT DU ROW -->
<!--*ngFor="let annonce of annoncesList;  let i = index"-->

<!--  <mdb-card class="testimonial-card" *ngFor="let annonce of annoncesList; index as i; first as isFirst; last as isLast; odd as isOdd"
      id="card"> -->
<html>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card-deck" *ngFor="let annonce of annoncesList" id="cardAnnonce">

        <div class="card mb-auto">

          <div class="row justify-content-center">
            <div class="mx-auto">
              <img src="https://images6.alphacoders.com/678/678636.jpg" alt="thumbnail" class="img-thumbnail" style="width: 400px"
                id="image">
            </div>
          </div>

          <br>
          <br>
          <!-- CARD BODY -->
          <div class="card-body">
            <div class="row align-items-start">
              <div class="col">
                <span class="block-example border border-info">
                  <h4 class="card-title"><strong>{{annonce.title}}</strong></h4>
                </span>
              </div>
            </div>
            <br>
            <div class="row align-items-center">
              <div class="col">
                <p>{{annonce.description}}</p>
              </div>
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="col">
                <p class="">Disponibilité : {{annonce.date}}</p>
              </div>
            </div>
            <br>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-info btn-rounded" id="button"><a class="row justify-content-center"
                  routerLink="annonces">Contacter</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
<!-- End Grid column-->