<html>
<!-- Début du code -->
<!-- Début du body -->

<body>

  <!-- Début du container-->

  <div class="container">

    <!-- Début de la row -->
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="row align-items-start">
          <h3 id="title">
            Ici, vous pouvez créer une annonce.
          </h3>
        </div>
      </div>

      <!-- Fin de la row -->
    </div>
    <!-- Material form grid -->
    <form>
      <!-- Grid row -->
      <div id="input">
        <div class="row">
          <!-- Grid column -->
          <div class="col">
            <!-- Material input -->
            <div class="md-form mt-3">
              <input mdbInputDirective type="text" class="form-control" placeholder="Titre">
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col">
            <div class="md-form">
              <textarea class="md-textarea form-control " rows="3" id="input_text" type="text" length="120"
                mdbCharCounter mdbInputDirective></textarea>
              <label for="input_text">Description</label>
            </div>
          </div>
          <!-- Grid column -->
        </div>
      </div>
      <!-- Grid row -->
    </form>
    <form>
      <!-- Grid row -->
      <div id="input">
        <div class="row">
          <!-- Grid column -->
          <div class="col">
            <!-- Material input -->
            <div class="md-form mt-3">
              <input mdbInputDirective type="text" class="form-control" placeholder="First name">
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col">
            <!-- Material input -->
            <div class="md-form mt-0">
              <input mdbInputDirective type="text" class="form-control" placeholder="Last name">
            </div>
          </div>
          <!-- Grid column -->
        </div>
      </div>
      <!-- Grid row -->
    </form>




    <!-- Fin du container -->
  </div>

</body>
<!-- Fin du body -->

</html>
<!-- Fin du code -->