/* You can add global styles to this file, and also import other style files */

/*BODY*/
body {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDmLgiswxad2qXkl3MliG-V7Gw_3UnBO6RRQ4lx1wdfHxTW3Yy");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div a {
  font-family: 'Roboto';
  font-size: 50px;
  
}

/* NAVBAR */
li {
  list-style-type: none;
}

#logo {
  height: 75px;
}

/* ANNONCES, ARTICLES */
#card, h4 {
  margin-top: 100px;
  font-size: 15px;
}

#logo2 {
  height: 40px;
}
